In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import os

In [ ]:
os.listdir("/content/drive/MyDrive/dataset/flower_dataset")

['flower.zip', 'flowers']

In [ ]:
for i in os.listdir("/content/drive/MyDrive/dataset/flower_dataset/flowers/daisy"):
  try:
    path=

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime
import warnings
from tensorflow import keras

In [3]:
data_train=pd.read_csv("/content/Google_Stock_Price_Train.csv")
data_test=pd.read_csv("/content/Google_Stock_Price_Test.csv")

In [4]:
data_train.sample(7)

            Date    Open    High     Low     Close     Volume
479   11/27/2013  529.03  532.01  528.02  1,060.20  2,255,500
798     3/9/2015  565.31  568.71  561.99    567.29  1,062,100
428    9/17/2013  442.05  442.54  438.86    883.68  2,528,200
738    12/9/2014  520.71  532.73  519.07    531.91  1,871,300
570    4/10/2014  563.45  563.45  538.42    539.47  4,036,800
1084   4/26/2016  725.42  725.77  703.03    708.14  2,744,600
500   12/30/2013  558.08  558.16  552.44  1,106.42  2,481,300

In [5]:
data_train.shape

(1258, 6)

In [7]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   object
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: float64(3), object(3)
memory usage: 59.1+ KB

In [9]:
data_train["Date"]=pd.to_datetime(data_train["Date"])
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   datetime64[ns]
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 59.1+ KB

In [10]:
open_data=data_train["Open"]
dataset=open_data.values
training=int(np.ceil(len(dataset)*0.95))

In [11]:
print(training)

1196

In [12]:
dataset=dataset.reshape(-1,1)

In [13]:
print(dataset.shape)

(1258, 1)

In [14]:
import numpy as np

In [56]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
scaled_data=scaler.fit_transform(dataset)
train_data=scaled_data[0:int(training),:]
x_train=[]
y_train=[]
for i in range(60,len(train_data)):
  x_train.append(train_data[i-60:i,0])
  y_train.append(train_data[i,0])
x_train,y_train=np.array(x_train),np.array(y_train)
x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))

In [49]:
y_train=np.reshape(y_train,(y_train.shape[0]))

In [57]:
model=keras.models.Sequential()
model.add(keras.layers.LSTM(units=20,return_sequences=True,input_shape=(x_train.shape[1],1)))
model.add(keras.layers.Dense(20))
model.add(keras.layers.Dense(40))
model.add(keras.layers.Dense(50))
model.add(keras.layers.Dense(70))
model.add(keras.layers.Dense(80))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(1))
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 60, 20)            1760

 dense_24 (Dense)            (None, 60, 20)            420

 dense_25 (Dense)            (None, 60, 40)            840

 dense_26 (Dense)            (None, 60, 50)            2050

 dense_27 (Dense)            (None, 60, 70)            3570

 dense_28 (Dense)            (None, 60, 80)            5680

 dropout_4 (Dropout)         (None, 60, 80)            0

 dense_29 (Dense)            (None, 60, 1)             81

=================================================================
Total params: 14,401
Trainable params: 14,401
Non-trainable params: 0
_________________________________________________________________

In [58]:
x_train.shape

(1136, 60, 1)

In [59]:
y_train.shape

(1136,)

In [60]:
y_train=y_train.reshape(1136,1)

In [61]:
model.compile(optimizer="adam",loss="mean_squared_error")
history=model.fit(x_train,y_train,epochs=10)

Epoch 1/10
36/36 [==============================] - 7s 59ms/step - loss: 0.0322
Epoch 2/10
36/36 [==============================] - 2s 64ms/step - loss: 0.0109
Epoch 3/10
36/36 [==============================] - 2s 59ms/step - loss: 0.0091
Epoch 4/10
36/36 [==============================] - 2s 43ms/step - loss: 0.0078
Epoch 5/10
36/36 [==============================] - 2s 60ms/step - loss: 0.0071
Epoch 6/10
36/36 [==============================] - 2s 65ms/step - loss: 0.0070
Epoch 7/10
36/36 [==============================] - 2s 51ms/step - loss: 0.0069
Epoch 8/10
36/36 [==============================] - 1s 41ms/step - loss: 0.0070
Epoch 9/10
36/36 [==============================] - 1s 41ms/step - loss: 0.0068
Epoch 10/10
36/36 [==============================] - 1s 40ms/step - loss: 0.0067